<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
		<setting id="server_ip" label="32000" type="ipaddress" default="127.0.0.1" />
    <setting id="telnet_port" label="32001" type="number" default="9090" />
		<setting id="web_port" label="32002" type="number" default="9000" />
</settings>
